footer {
    font-size: large;
    font-weight: bolder;
    background-color: #191919;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
  }
  
  footer .footer_row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  
  footer .footer_row a{
    color: #c6c6c68f;
    margin: 0.25em 1em;
  }
  
  footer .footer_row a:hover{
    filter: brightness(1.35);
  }
  
  @media (max-width: 768px) {
    footer {
      flex-flow: column;
    }
  
    footer .footer_row {
      margin: 0.7em 0;
    }
  }
  