<app-header></app-header>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <mat-list-item routerLink="/home">
                <span id="home-page-list-item">Página principal</span>
            </mat-list-item>
            <!--Registros-->
            <mat-expansion-panel [class.mat-elevation-z0]="true" *ngIf="currentLoggedUserRole >= '1'">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Registros médicos
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="/">Nuevo Registro</a>
                    <a mat-list-item routerLink="/">Ver Registros</a>
                </mat-nav-list>
            </mat-expansion-panel>
            <!--Desarrollo-->
            <mat-expansion-panel [class.mat-elevation-z0]="true" *ngIf="currentLoggedUserRole >= '2'">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Estrategias
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="/">Nuevo pipeline</a>
                    <a mat-list-item routerLink="/">Ver Pipelines</a>
                    <a mat-list-item routerLink="/">Nueva Estrategia</a>
                    <a mat-list-item routerLink="/">Ver Estrategias</a>
                </mat-nav-list>
            </mat-expansion-panel>
            <!--Administración-->
            <mat-expansion-panel [class.mat-elevation-z0]="true" *ngIf="currentLoggedUserRole >= '3'">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Administración
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="/user_management">Usuarios</a>
                    <a mat-list-item routerLink="/">Añadir usuario</a>
                    <a mat-list-item routerLink="/testing">Pruebas</a>
                </mat-nav-list>
            </mat-expansion-panel>
            <!--Documentación-->
            <mat-expansion-panel [class.mat-elevation-z0]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Documentación
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="/">Guías</a>
                    <a mat-list-item routerLink="/">Concepto</a>
                    <a mat-list-item routerLink="/">Código</a>
                </mat-nav-list>
            </mat-expansion-panel>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" [class.mat-elevation-z8]="true">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span class="current-page-name">{{currentPageName}}</span>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>