<mat-tab-group (selectedTabChange)="updateForm()">
  <!--User table tab-->
  <mat-tab label="Tabla de usuarios">
    <div id="tab-wrapper">
      <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="E.g. Pepe" #input>
      </mat-form-field>

      <div class="mat-elevation-z8" id="table-wrapper">
        <mat-radio-group [(ngModel)]="selectedUser">
          <table mat-table [dataSource]="dataSource" [hidden]="!dataSource.data" matSort>

            <!-- Selected Column -->
            <ng-container matColumnDef="selected">
              <th mat-header-cell *matHeaderCellDef>
                Usuario seleccionado:<br /><b>{{ selectedUser.username }}</b>
              </th>
              <td mat-cell *matCellDef="let element">
                <mat-radio-button [value]="element"></mat-radio-button>
              </td>
            </ng-container>

            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>

            <!-- Username Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
              <td mat-cell *matCellDef="let row"> {{row.username}} </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
              <td mat-cell *matCellDef="let row"> {{row.email}} </td>
            </ng-container>

            <!-- Role Column -->
            <ng-container matColumnDef="role">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Perfil </th>
              <td mat-cell *matCellDef="let row"> {{row.role}} </td>
            </ng-container>

            <!-- Delete Column -->
            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef>
                Eliminar usuario
              </th>
              <td mat-cell *matCellDef="let element">
                <button mat-mini-fab color="warn" [value]="element" (click)="openUserDeletionDialog(element.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No se ha encontrado: "{{input.value}}"</td>
            </tr>
          </table>
        </mat-radio-group>

        <mat-divider></mat-divider>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>
    <div style="padding: 2em;"></div>
  </mat-tab>

  <!--User Info tab-->
  <mat-tab label="Información del usuario">
    <mat-card id="user-information-card">
      <mat-card-header>
        <mat-card-title>
          Información sobre el usuario: {{selectedUser.username}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <span matListItemTitle>Nombre de usuario</span>
            <span matListItemLine>{{selectedUser.username}}</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle>Correo electrónico</span>
            <span matListItemLine>{{selectedUser.email}}</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle>Rol</span>
            <span matListItemLine>{{selectedUser.role}}</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle>Identificador</span>
            <span matListItemLine>{{selectedUser.id}}</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle>Es administrador</span>
            <span matListItemLine>{{selectedUser.is_admin}}</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle>Fecha de registro</span>
            <span matListItemLine>{{selectedUser.created_at}}</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle>Fecha de actualización</span>
            <span matListItemLine>{{selectedUser.updated_at}}</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle>Usuario creado por: </span>
            <span matListItemLine>{{selectedUser.created_by}}</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle>Última modificación realizada por: </span>
            <span matListItemLine>{{selectedUser.last_modified_by}}</span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <!--User edition tab-->
  <mat-tab label="Modificar usuario">
    <mat-card id="modification-banner" color="primary" [class.mat-elevation-z8]="true">
      <mat-card-header>
        <mat-card-title>
          Modificar datos
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Modificación de datos del usuario: {{selectedUser.username}}
      </mat-card-content>
    </mat-card>
    
    <form [formGroup]="userForm" (ngSubmit)="modify()">
      <mat-card class="user-form-card">
        <mat-card-header>
          <mat-card-title>
            Datos del usuario de usuario
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="user-form-content">
          <!-- username -->
          <mat-form-field>
            <input matInput placeholder="Nombre de usuario" formControlName="username">
            <mat-error *ngIf="userForm.controls['username'].hasError('required')">
              El nombre de usuario es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
          <!-- email -->
          <mat-form-field>
            <input matInput placeholder="Correo electrónico" formControlName="email">
            <mat-error *ngIf="userForm.controls['email'].hasError('required')">
              El correo electrónico es <strong>obligatorio</strong>
            </mat-error>
            <mat-error *ngIf="userForm.controls['email'].hasError('email')">
              Introduzca un correo electrónico correcto
            </mat-error>
          </mat-form-field>
          <!-- role -->
          <mat-form-field>
            <mat-select placeholder="Perfil" formControlName="role">
              <mat-option *ngFor="let role of possibleRoles" [value]="role.databaseName">
                {{ role.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="userForm.controls['role'].hasError('required')">
              El perfil es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
          <!-- password -->
          <mat-form-field>
            <input matInput type="password" placeholder="Contraseña" formControlName="password">
            <mat-error *ngIf="userForm.controls['password'].hasError('required')">
              La contraseña es <strong>obligatoria</strong>
            </mat-error>
            <mat-error *ngIf="userForm.controls['password'].hasError('minlength')">
              La contraseña debe tener más de 6 caracteres
            </mat-error>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions id="submit-card-actions">
          <button mat-raised-button color="accent" type="submit" [disabled]="!userForm.valid && (selectedUser.id == -1)">Modificar usuario</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="error-form-card" *ngIf="invalidAnswerFromBackend">
        <mat-card-header>
          <mat-card-title>
            Se han encontado los siguientes errores:
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          {{backendMessage}}
        </mat-card-content>
      </mat-card>
    </form>
  </mat-tab>
</mat-tab-group>