<footer>
  <mat-toolbar color="primary" id="footer-content">
    <a mat-raised-button color="primary" href="https://www.itccanarias.org/web/es/politica-de-privacidad">Política de privacidad</a>
    <a mat-raised-button color="primary" href="https://www.itccanarias.org/web/es/registro-lopd">Registro LOPD</a>
    <a mat-raised-button color="primary" href="https://www.itccanarias.org/web/es/politica-de-cookies">Política de Cookies</a>
    <a mat-raised-button color="primary" href="https://www.itccanarias.org/web/es/aviso-legal">Aviso Legal</a>
    <a mat-raised-button color="primary" href="https://www.itccanarias.org/web/es/contacto">Contacto</a>
    <a mat-raised-button color="primary" href="https://www.itccanarias.org/web/es/quejas-y-reclamaciones">Quejas, Reclamaciones y Sugerencias</a>
    <a mat-raised-button color="primary" href="https://www.itccanarias.org/web/es/canal-etico">Canal Ético</a>
    <a mat-raised-button color="primary" href="https://www.itccanarias.org/web/es/accesibilidad">Accesibilidad</a>
  </mat-toolbar>
</footer>
