<header>
  <nav id="regularNav">
    <button routerLink="/" id="login">
      <span class="material-icons">home</span>
    </button>
    <input type="image" id="logo" alt="logo"
          routerLink="/home" >
    <div id="buttonsContainer">
      <button routerLink="/" id="login">
        <span class="material-icons">login</span>
        <u>Iniciar Sesión</u>
      </button>
      <button routerLink="/" id="login">
        <span class="material-icons">accessibility_new</span>
        <u>Registrarse</u>
      </button>
      <button>
        <span class="material-icons">logout</span>
        <u class="loggedInButtons">Cerrar Sesión</u>
      </button>
    </div>
  </nav>
  <hr>
</header>
