<mat-card id="welcome-section" color="primary">
  <h1>Audio diagnóstico</h1>
  <h2>Sistema de gestión de registros en audio de consultas médicas procesados con técnicas de inteligencia artificial
  </h2>
  <a mat-raised-button>
    Comenzar
  </a>
</mat-card>

<div class="card-wrapper">
  <div class="row">
    <div class="column">
      <mat-card>
        <mat-card-header>
          <h1>Realiza un grabación</h1>
        </mat-card-header>
        <mat-card-content>
          <h3>Graba en audio el resultado de una consulta</h3>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button color="primary" (click)="fetchCurrentUserData()">
            <span>Realizar grabación</span>
            <mat-icon>mic</mat-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="column">
      <mat-card>
        <mat-card-header>
          <h1>Selecciona un pipeline</h1>
        </mat-card-header>
        <mat-card-content>
          <h3>Selecciona el cauce de etapas que procesarán el audio grabado</h3>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button color="primary">
            <span>Selecciona un cauce con el que procesar tu grabación</span>
            <mat-icon>mic</mat-icon>
            <mat-icon>arrow_right_alt</mat-icon>
            <mat-icon>settings</mat-icon>
            <mat-icon>arrow_right_alt</mat-icon>
            <mat-icon>settings</mat-icon>
            <mat-icon>arrow_right_alt</mat-icon>
            <mat-icon>star</mat-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <mat-card>
        <mat-card-header>
          <h1>Observa los registros</h1>
        </mat-card-header>
        <mat-card-content>
          <h3>Observa la lista de registros y también un registro específico en detalle</h3>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button color="primary">
            <span>Observar registros</span>
            <mat-icon>visibility</mat-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="column">
      <mat-card>
        <mat-card-header>
          <h1>Corrige un registro</h1>
        </mat-card-header>
        <mat-card-content>
          <h3>Modifica el contenido de un registro</h3>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button color="primary">
            <span>Modificar registros</span>
            <mat-icon>edit</mat-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>