<header>
  <nav class="header-navbar">
    <a mat-raised-button color="accent" class="header-title" routerLink="/">
      <span>SisRegMed</span>
    </a>
    <div id="header-button-container" class="header-hide-small">
      <app-theme-picker></app-theme-picker>
      <a mat-raised-button color="accent" routerLink="/login" *ngIf="!loggedInCondition">
        <mat-icon>login</mat-icon>
        Iniciar sesión
      </a>
      <a mat-raised-button color="accent" routerLink="/register" *ngIf="!loggedInCondition">
        <mat-icon>person_add</mat-icon>
        Registrarse
      </a>
      <a mat-raised-button color="disabled" *ngIf="loggedInCondition">
        {{currentUserName}}
      </a>
      <button mat-raised-button color="accent" (click)="logOut()" *ngIf="loggedInCondition">
        <mat-icon>logout</mat-icon>
        Cerrar sesión
      </button>
    </div>
  </nav>
  <nav class="header-small-navbar" [class.mat-elevation-z8]="true">
    <a mat-raised-button color="accent" routerLink="/login" *ngIf="!loggedInCondition">
      <mat-icon>login</mat-icon>
      Iniciar sesión
    </a>
    <a mat-raised-button color="accent" routerLink="/register" *ngIf="!loggedInCondition">
      <mat-icon>person_add</mat-icon>
      Registrarse
    </a>
    <a mat-raised-button color="disabled" *ngIf="loggedInCondition">
      {{currentUserName}}
    </a>
    <button mat-raised-button color="accent" (click)="logOut()" *ngIf="loggedInCondition">
      <mat-icon>logout</mat-icon>
      Cerrar sesión
    </button>
  </nav>
</header>